.results-container {
  display: flex;
  margin: 150px 0 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  .card-click {
    color: $primary-color-dark;
    .card-results {
      padding-top: 20px;
      margin-bottom: 50px;
      color: $primary-color-dark;
      &:hover {
        color: $primary-color-text;
        transform: scale(1.1);
        -webkit-box-shadow: 0px 0px 39px 12px $divider-color;
        -moz-box-shadow: 0px 0px 39px 12px $divider-color;
        box-shadow: 0px 0px 39px 12px $divider-color;
      }
    }
  }
}
