.home {
  margin: 0 auto;
  background-image: url('https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 849px;
  position: relative;
}
.evidence-container {
  margin-top: 50px;
  h1 {
    padding: 10px;
  }
  .in-evidenza {
    display: flex;
    flex-wrap: wrap;
  }
}
.booking-container { //quadrato bianco di ricerca
  background-color: white;
  border-radius: 5px;
  position: absolute;
  margin-left: 5%;
  transform: translateY(35%);
  width: 450px;
  padding: 25px;
  label {
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
  }
  ul {
    background-color: white;
    z-index: 100000;
    list-style-type: none;
    padding: 10px;
    border: 1px solid $divider-color;
    border-radius: 4px;
    li {
      margin: 10px;
      &:hover {
        cursor: pointer;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 768px){ //quadrato bianco di ricerca sotto i 768px si restringe
  .booking-container {
    width: 300px;
  }
}
