.navbar {
  height: 80px;
  background-color: transparent;
  .navbar-nav{
    .nav-item {
      .nav-link {
        color: white;
        font-weight: bold;
        padding: 20px;
      }
      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
  .logo {
    width: 50px;
    padding: 10px;
  }
}
