.previev {
  display: flex;
}
.previev, .top, .bottom {
  padding: 0;
}
.room-img {
  border: 1px solid black;
  width: 100%;
}

@media (max-width: 992px) {
    .bottom {
      display: none;
    }
}
