.info-room-navbar { //navbar blu che appare (JS)
  display: none;
  background-color: $primary-color-dark;
  position: fixed;
  top: $height-header;
  height: 60px;
  width: 100%;
  z-index: 100;
  .navbar-nav .nav-item .nav-link {
    padding: 10px;
  }
}
.stacca{
    margin-top: 150px;
}
.room {
  margin-top: $height-header;
  padding-bottom: 22px;
}
.previev {
  display: flex;
}
.previev, .top, .bottom {
  padding: 0;
}
.room-img-public {
  border: 1px solid black;
  width: 100%;
}
.im-left {
  height: 300px;
}
.im-right {
  height: 150px;
}
.room-img {
  @extend .room-img-public;
  margin: 15px auto;
}
.scrol-left {
  padding: 20px;
  h2 {
    display: inline-block;
  }
  .info {
    margin-top: 30px;
  }
  .other-info-container {
    margin: 20px 0;
    .other-info {
      .fas {
        margin-right: 10px;
      }
    }
  }
  .description, .services-container, .maps {
    padding: 20px 0;
  }
  .services {
    display: flex;
  }
}
.section {
  border-bottom: 1px solid $primary-color-dark;
}
.fix-right {
  padding: 25px;
  .card-scroll {
    border: 1px solid $divider-color;
    border-radius: 5px;
  }
}
.container-admin-img {
  display: flex;
  justify-content: center;
}

.grafici img{
    width: 400px;
    height: 400px;
}

.graphic{
    margin: 50px;
    display: inline-block;
}

#graphic h4{
    display: block;
    margin-top: 20px;
}

.modif{
    position: relative!important;
    bottom: 5px;
}
#map {
  height: 300px;
  position: relative;
}
@media (max-width: 992px) {
  .bottom {
    display: none;
  }
}
@media (max-width: 768px) {
  .ul-right {
    display: none;
  }
}

.grazie { //per la pagina grazie
  color: $primary-color-dark;
  margin: 15% 0 10%;
}
