.admin-container {
    margin-top: $height-header;
    hr {
        border: 2px solid $primary-color-dark;
    }
    .card {
        border: 1px solid $primary-color-dark;
        height: 570px;
        min-width: 290px;
        .card-img {
            height: 250px;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .card-body{
            h5 {
                height: 25px;
                overflow-y: hidden;
            }
            p {
                height: 90px;
                overflow-y: auto;
            }
            .btn-apartment-crud {
                a, form, button {
                width: 100%;
                margin: 5px 0;}
            }
        }
    }
}

@media (min-width: 1200px) {
    .card {
        height: 475px!important;
    }

    .custom-control.custom-switch {
        padding: 0;
        text-align: center!important;
    }

    #stat-btn {
        width: 95px!important;
    }
}
