.add-product {
    margin-top: $height-header;
    background-color: white;
    border: 1px solid $primary-color-dark;
    padding: 40px 30px;
    border-radius: 15px;
    hr {
        border: 2px solid $primary-color-dark;
    }
    @include searcResults(584px, 197px);
}
