.leads-container {
  margin-bottom: 30px;
  .card-body {
    display: none;
    border: 1px solid $primary-color-dark;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .message-recev:hover {
    cursor: pointer;
  }
}
